= form_for :user, :html => {:id => "combo-form", :class => "form-vertical"} do |f|
  - if params[:form] == "signup_form"
    = render partial: "signup_form"
  - if params[:form] == "login_form"
    = render partial: "login_form"
  - if params[:form] == "forgot_password"
    = render partial: "forgot_password"
