.modal.fade#guidelines
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button{:class => "close", :"data-dismiss" => "modal", :href => "#", :type => "button", :"aria-label" => "Close"}
          %span{:"aria-hidden" =>"true"}
            &times;
        %h2
          What Does it Mean To Adopt a Drain?
      .modal-body
        %p
          Thank you for your interest in adopting one or more 
          of the Lower Grand River Watershed’s 50,000+ storm drains. 
          By pledging to keep your drain free of leaves and debris, 
          you are joining your neighbors in helping to protect the 
          environment, manage stormwater, and minimize flooding.
        %h3
          How to Care For Your Adopted Drain
        %ul
          %li
            Check the weather report weekly. If possible, clear leaves 
            and debris off the drain before it starts raining and shovel 
            snow off the drain in winter to keep water flowing.
          %li
            Remove leaves, other natural materials, and trash. Compost 
            if possible or dispose of them according to your community’s guidelines.
          %li
            Clear about 10 feet on both sides of the drain.
          %li
            Did you find medical waste or needles? Construction debris? Toxic materials? 
            Follow your community’s instructions for disposal guidelines. 
            For more information, click 
            <a target="_blank" href="https://www.lgrow.org/disposal">HERE</a>.
        
        %h3
          Drain Cleaning Safety Tips
        %ul
          %li
            Please stay out of the street as much as possible. Place yourself in the 
            right of way (the area between the sidewalk and the street) to clear the drain.
          %li
            Always wear gloves and be careful of sharp objects!
          %li
            Use a rake, broom, or shovel if possible.
          %li
            Never try to lift/remove the drain grate.
          %li
            Wear reflective clothing so vehicles can see you.
          %li 
            Dispose of waste appropriately. Visit 
            <a target="_blank" href="https://www.LGROW.org">www.LGROW.org</a> 
            to find out how to properly dispose of yard and household hazardous wastes in your community.
        %p
          %em
            Remember, GVMC & Sponsoring Jurisdictions won't be held responsible for anything 
            that happens to you or others in service of maintaining your drain. Please be careful!

        %h3
          Spread the Word!
        %p
          Excited about the Adopt a Drain program? Want to encourage your
          coworkers, friends, and neighbors to participate? Share Adopt a Drain 
          on social media to spread the word!

        %p
          %a{target: "_blank", href: "https://www.facebook.com/LGROW.org", class: ""}
            =image_tag "icons/facebook.png", :alt => "grbwater facebook", :title => "grbwater facebook"
          %a{target: "_blank", href: "https://www.instagram.com/lgrow_org/", class: ""}
            =image_tag "icons/instagram.png", :alt => "grbwater instagram", :title => "grbwater instagram"
          %a{target: "_blank", href: "https://twitter.com/LGROW_GVMC", class: ""}
            =image_tag "icons/twitter.png", :alt => "grbwater twitter", :title => "grbwater twitter"

        %p
          Be sure to tag us @lgrow_org on Instagram and @LGROW.org on Facebook. 
          Use the hashtags #LGROW, #KeepYourLakesGreatandRiverGrand, and #AdoptaDrainGrandRiver in your posts.

        %h3
          Volunteer Developer Opportunities
        %p
          Are you a programmer with Ruby on Rails experience who wants to help
          improve and maintain the Adopt a Drain application? Don't be shy!
          We're always seeking assistance with the code! Get involved with Citizen Labs <a target="_blank"
          href="https://citizenlabs.org">HERE</a>.

        %h3
          Contact Us
        %p
          Email questions and feedback to <a target="_blank"
          href="mailto:adoptadrain@lgrow.org">adoptadrain@lgrow.org</a>. We'd love to
          hear from you!

      .modal-footer
        %button.btn.btn-default{:type => "button", :"data-dismiss" => "modal"}
          Close
