<p>
<em>
  Remember, GVMC & Sponsoring Jurisdictions won't be held responsible for anything that
  happens to you or others in service of maintaining your drain. Please be careful!
</em>
</p>

<p>
For residents of Kent County who are eligible for GR City Points, use the code <b>L8H2-RKF4</b> to redeem points in your GR City Points account at <a href="http://www.mygrcitypoints.com">http://www.mygrcitypoints.com/</a>
</p>
