<p>
<em>
  Remember, GVMC & Sponsoring Jurisdictions won't be held responsible for anything that
  happens to you or others in service of maintaining your drain. Please be careful!
</em>
</p>

<p>
  <%= image_tag attachments['drain-cleaner.png'].url,
      :alt => "grbwater adopt-a-drain logo",
      :title => "grbwater adopt-a-drain logo",
      :style => "max-width:300px"
  %>
</p>

<p style="font-size: 11px;">
If you move or are no longer able to tend to your drain, please abandon it on
<a href="http://www.adoptadrain-lgrow.org">www.adoptadrain-lgrow.org</a>.
</p>

<p style="font-size: 11px;">
If you would like to receive quarterly LGROW emails, please sign up <a href="https://www.lgrow.org">HERE</a>.
</p>

<p style="font-size: 11px;">
Thank you.<br/><br/>
</p>
