<p style="font-size: 11px;">
If you move or are no longer able to tend to your drain, please abandon it on
<a href="http://www.adoptadrain-lgrow.org">www.adoptadrain-lgrow.org</a>.
</p>

<p style="font-size: 11px;">
If you would like to receive quarterly LGROW emails, please sign up <a href="https://www.lgrow.org">HERE</a>.
</p>

<p style="font-size: 11px;">
Thank You!<br/><br/>
</p>
