<p>
<em>
  Remember, GVMC & Sponsoring Jurisdictions won't be held responsible for anything that
  happens to you or others in service of maintaining your drain. Please be careful!
</em>
</p>

<p>
For residents of Kent County who are eligible for GR City Points, use the code L8H2-RKF4 to redeem points in your GR City Points account at <a href="http://www.mygrcitypoints.com">http://www.mygrcitypoints.com/</a>
</p>

<p style="font-size: 11px;">
If you move or are no longer able to tend to your drain, please abandon it on
<a href="http://www.adoptadrain-lgrow.org">www.adoptadrain-lgrow.org</a>.
</p>

<p style="font-size: 11px;">
If you would like to receive quarterly LGROW emails, please sign up <a href="https://www.lgrow.org">HERE</a>.
</p>

<p style="font-size: 11px;">
Thank you.<br/><br/>
</p>
