<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td>
    <%= image_tag attachments['adopt-a-drain.png'].url,
        :alt => "grbwater adopt-a-drain logo",
        :title => "grbwater adopt-a-drain logo",
        :style => "max-width:300px"
    %>
  </td>
</tr>
</table>
