<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td>
    <%= image_tag attachments['adopt-a-drain-300.png'].url,
        :alt => "grbwater adopt-a-drain logo",
        :title => "grbwater adopt-a-drain logo"
    %>
  </td>
</tr>
</table>
