<p>
    Sincerely,
  </p>
  <p>
    The LGROW Team
    <br /><br />
    Keep your Lakes Great and your River Grand
    <br />
    ph. 616-776-7605
    <br />
    <a href="mailto:adoptadrain@lgrow.org">adoptadrain@lgrow.org</a>
  </p>