<p>
    <a href="https://www.facebook.com/LGROW.org" style="text-decoration:none !important;">
    <%= image_tag attachments['facebook.png'].url, :alt => "grbwater facebook", :title => "grbwater facebook" %>
    </a>
    &nbsp;
    <a href="https://www.instagram.com/lgrow_org/" style="text-decoration:none !important;">
    <%= image_tag attachments['instagram.png'].url, :alt => "grbwater instagram", :title => "grbwater instagram" %>
    </a>
    &nbsp;
    <a href="https://twitter.com/LGROW_GVMC" style="text-decoration:none !important;">
    <%= image_tag attachments['twitter.png'].url, :alt => "grbwater twitter", :title => "grbwater twitter" %>
    </a>
</p>